body {
  background: #ff5b77c4;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.container {
  background: #dbd5d5;
  width: 400px;
  height: 700px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;

  & .windows-container {
    width: 320px;
    height: 270px;
    background: #656565;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(3em);
    gap: 10px;

    & .container-bar-color {
      width: 90%;
      height: 25px;
      transform: translateY(10px);

      & .container-bar-left,
      & .container-bar-rigth {
        width: 100%;
        height: 8px;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;

        & .bar-red {
          width: 27%;
          height: 4px;
          background: #9a001a;
        }

        & .bar-blue {
          width: 27%;
          height: 4px;
          background-color: #40007e;
        }
      }
    }

    & .ligh-on{
      background-color: #ff5b77c4;
      width: 10px;
      height: 10px;
      align-self: flex-start;
      border-radius: 100%;
      transform: translate(10px, 70px);
    }

    & .screen {
      width: 75%;
      height: 70%;
      background: #bfff00;
    }

  }
}

.container .container-line {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;

  & .line-x {
    width: 7px;
    height: 100%;
    background: #fffdfdfd;
    transform: translateX(28px);
  }

  & .line-y {
    width: 100%;
    height: 5px;
    background: #fffdfdfd;
  }
}

.container .container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 270px;

  & .cross-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100px;
    height: 100px;

    & :is(.top-mid, .mid-left, .mid-mid, .mid-right, .bot-mid) {
      background: black;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:center;
      gap: 5px;
    }

    & .stripes{
      background: #656565;
      border-radius: 2px;
      width: .2em;
      height: 1em;
    }

    & .circle{
      background: #656565;
      border-radius: 50%;
      width: 22px;
      height: 22px;
    }
  }

  & .container-A-B {
    border-radius: 25px;
    width: 150px;
    height: 60px;
    background: #cecccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: rotate(-20deg) translate(35px, 10px);

    & .button-a {
      width: 50px;
      height: 50px;
      background: #cf3c76;
      border-radius: 50%;
    }
    & .button-b {
      width: 50px;
      height: 50px;
      background: #cf3c76;
      border-radius: 50%;
    }
  }
}



.container-buttons-options {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;

  & .container-buttons-bottom {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100px;
    height: 20px;

    & .button-select,
    .button-start {
      width: 10px;
      height: 40px;
      background: #656565;
      border-radius: 10px;
      transform: rotate(55deg);
      border: 5px solid #a5a5a5;
    }
  }
}

.container .container-air{
  display: flex;
  justify-content: space-around;
  width: 120px;
  height: 80px;
  align-self: flex-end;
  transform: translate(-10px, -30px) rotate(140deg);

  & .line {
    background: #656565;
    border-radius: 2px;
    width: .4em;
  }
}

.container-creator{
  width: 200px;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;

  & h1 {
    color: #CF3C76;

  }

    & a {
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: .3em;
      text-align: center;
    }
}



